
.img{
    border: 5px;
    border-style: inset;
    background-color: rgb(149, 17, 74) ;
    margin-left: auto;
    color: azure;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(149, 17, 74);
  
   
}
li{
    display: inline;
    border-right: 1px solid #f0e0e0;
    float: left;
    
}
a{   
    display: block;
    padding: 8px;
    color: azure;
   
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: pink;
    color: black;
}




.table td>a {
    text-decoration: none;
    color: azure;
    
}


.tab2 { 
    border: solid pink
    1px; width: 2px;
    margin-left: 90%;
    float: left;

    
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left  ;
    width: 1000px;
    
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  } 



  