
div{
    background-color: rgb(196, 235, 250);
    border: 1px solid rgb(196, 235, 250);
    color: white;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    border: 1px solid rgb(3, 191, 177);
    background-color:rgb(3, 191, 177);
    width: 98%;
    height: 50px;
    margin: 1em;
   padding: 2px;
   text-align: center;
   line-height: 1.9em;
   box-sizing: border-box;
   position: static;

}
aside{
    border: 1px solid rgb(110, 219, 110);
    background-color:rgb(110, 219, 110);
    width: 30%;
    height: 400px;
    float: left;
    margin-left: 1em;
    text-align: center;
   line-height: 25.0em;
   margin-bottom: 15px;
    
 
    
}
article{
    border: 1px solid rgb(251, 176, 75);
    background-color:rgb(251, 176, 75);
    width: 66.5%;
    height: 400px;
    float: left;
    margin-left: 1em;
    text-align: center;
    line-height: 2.10em;
    
 
}
article div{
    border: 1px solid rgb(253, 210, 74);
    background-color:rgb(253, 210, 74);
    width: 30%;
    height: 150px;
    /* margin-top: 0em;  */
    margin-left: 25px;
    text-align: center;
    line-height: 150px;
    float: left;

  
  

    
   
}
footer{
    border: 1px solid rgb(3, 191, 177);
    background-color:rgb(3, 191, 177);
   width: 98%;
   height: 50px;
   margin: 1em;
   padding: 2px;
   text-align: center;
   line-height: 1.9em;
   box-sizing: border-box;
   clear: both;
   
}
h1{
    margin-top: 7em; 
    
}


